
body{
    background-image: url("../img/wallpapersden.com_cool-4k-pattern_3840x2160.jpg");
    background-repeat: no-repeat;
    height: 100%;
}

main div.article{
    background-color: tomato; 
    opacity: 0.7;
    border-radius: 20px;
} 

main .container div.article ul li{
    list-style: none; 
    border-bottom: 1px solid whitesmoke ;
} 
main div.article ul li i{
    cursor: pointer;
} 

